h5 {
  text-align: center;
  margin-top: 3rem;
}
.graph_container {
  width: 90%;
  margin: 0 5% 5% 5%;
}
mat-form-field {
  position: relative;
  margin: 1rem 2rem 0 2rem;
}
.btn {
  width: 20%;
  margin-left: 0;
  float: right;
  position: relative;
}
