h5 {
  text-align: center;
  margin-top: 5rem;
}
.graph_container {
  width: 90%;
  margin: 0 5% 5% 5%;
}
mat-form-field {
  position: relative;
  margin: 1rem 2rem 0 2rem;
}
.btn {
  width: 20%;
  margin-left: 0;
  float: right;
  position: relative;
}

.selectedDrugs {
  width: 14%;
  height: 2rem;
  position: relative;
  margin: 0.3;
  margin-left: 2rem;
  border-radius: 0.2rem;
  float: left;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  background-color: crimson;
}

.unSelect {
  float: right;
  margin-top: 0.4rem;
  background: none;
  color: aliceblue;
  border: none;
  font-size: 1rem;
}

@media screen and (max-width: 880px) {
  .selectedDrugs {
    display: inline-block;
    margin-top: 1%;
    font-size: 0.9rem;
    width: 25%;
  }
}
@media screen and (max-width: 460px) {
  .btn {
    width: 80%;
    margin-left: 10%;
    position: relative;
    display: inline-block;
  }

  .selectedDrugs {
    display: inline-block;
    margin-top: 12%;
    font-size: 0.9rem;
    width: 45%;
  }
}
