<h5>TRANSACTIONS CHART</h5>

<form (submit)="sendDates(dateForm)" #dateForm="ngForm">
  <mat-form-field
    *ngFor="let field of dateInputFields"
    class="create_detail_card_left_input_field"
    appearance="outline"
  >
    <input
      matInput
      ngModel
      required
      name="{{ field.name }}"
      placeholder="{{ field.placeholder }}"
      type="{{ field.type }}"
    />
  </mat-form-field>

  <button type="submit" class="btn btn--crimson">Get</button>
</form>

<!-- COMMING SOON -->
<mat-form-field>
  <input
    placeholder="Add Drug"
    type="text"
    matInput
    name="drugId"
    [matAutocomplete]="auto"
    (focus)="searchField('')"
  />

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let option of drugsAutoComplete; let i = index"
      [value]="option.genericName"
      (click)="selectDrugs(option._id, option.genericName)"
    >
      {{ option.genericName }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<br /><br />
<div class="selectedDrugs" *ngFor="let drug of selectedDrugsArray">
  {{ drug.genericName | slice: 0:6 }}
  <button class="unSelect" (click)="unSelectDrug(drug.drugId)">X</button>
</div>

<div class="graph_container">
  <canvas #lineCanvas style="height: 12vh; width: 20vw"></canvas>
  <hr color="crimson" />
  <br />
</div>
