<div class="header">
  <div
    [routerLink]="['/']"
    routerLinkActive="router-link-active"
    class="nav_title"
  >
    PHARMACY
  </div>
  <div class="nav_items">
    <li *ngIf="isAuthenticated" class="navigation__item">
      <a (click)="logout()" class="navigation__link">Logout</a>
    </li>

    <li *ngIf="!isAuthenticated" class="navigation__item">
      <a
        mat-button
        routerLink="/auth/customer/create-customer"
        class="navigation__link"
        >Create Customer</a
      >
    </li>
    <li *ngIf="isAuthenticated && !isCustomer" class="navigation__item">
      <a mat-button routerLink="/dashboard" class="navigation__link"
        ><mat-icon>dashboard</mat-icon> DashBoard
      </a>
    </li>
    <li *ngIf="isAuthenticated && isCustomer" class="navigation__item">
      <a mat-button routerLink="/customer/drugs" class="navigation__link"
        >DRUGS
      </a>
    </li>
  </div>
</div>
