.header {
  left: 0;
  right: 0;
  height: 4rem;
  top: 0;
  position: fixed;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  z-index: 3;
  opacity: 1;
  width: 100%;
  background-color: crimson;
}
.nav_title {
  float: left;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  margin: 1rem auto;
  left: 1rem;
  color: white;
}

.navigation__link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.navigation__item {
  // Removes the dots
  // list-style: none;
  margin: 1rem;
  color: white;
  float: right;
}
