<div class="header">
  <div
    [routerLink]="['/']"
    routerLinkActive="router-link-active"
    class="nav_title"
  >
    PHARMACY
  </div>
  <div class="nav_items">
    <li *ngIf="isAuthenticated" class="navigation__item">
      <a (click)="logout()" class="navigation__link">Logout</a>
    </li>

    <li *ngIf="isAuthenticated && isMD" class="navigation__item">
      <a mat-button routerLink="/sources" class="navigation__link">Sources</a>
    </li>
    <li *ngIf="!isAuthenticated" class="navigation__item">
      <a mat-button routerLink="/auth/login" class="navigation__link">Login</a>
    </li>
    <li *ngIf="!isAuthenticated" class="navigation__item">
      <a mat-button routerLink="/auth/create-customer" class="navigation__link"
        >Create Customer</a
      >
    </li>

    <li *ngIf="isAuthenticated && isMD" class="navigation__item">
      <a routerLink="/auth/create-user" class="navigation__link">Sign Up</a>
    </li>

    <li *ngIf="isAuthenticated && !isCachier" class="navigation__item">
      <a routerLink="/drugs" class="navigation__link">Drugs</a>
    </li>
    <li *ngIf="isAuthenticated && (isMD || isCachier)" class="navigation__item">
      <a routerLink="/transactions" class="navigation__link">Trans</a>
    </li>
    <li *ngIf="isAuthenticated && isMD" class="navigation__item">
      <a routerLink="/charts" class="navigation__link">Charts</a>
    </li>
    <li *ngIf="isAuthenticated && isMD" class="navigation__item">
      <a routerLink="/users" class="navigation__link">Users</a>
    </li>
    <li *ngIf="isAuthenticated && isMD" class="navigation__item">
      <a routerLink="/create" class="navigation__link">Create</a>
    </li>
  </div>
</div>

<div class="navigation">
  <input
    type="checkbox"
    #checkbox
    class="navigation__checkbox"
    id="navi-toggle"
  />
  <label for="navi-toggle" class="navigation__button"
    ><span class="navigation__icon">&nbsp;</span></label
  >
  <div class="navigation__background">&nbsp;</div>
  <nav (click)="changeCheckedState(checkbox)" class="navigation__nav">
    <ul class="navigation__list">
      <li *ngIf="isAuthenticated && isMD" class="navigation__item">
        <a mat-button routerLink="/sources" class="navigation__link">Sources</a>
      </li>
      <li *ngIf="!isAuthenticated" class="navigation__item">
        <a mat-button routerLink="/auth/login" class="navigation__link"
          >Login</a
        >
      </li>
      <li *ngIf="!isAuthenticated" class="navigation__item">
        <a
          mat-button
          routerLink="/auth/create-customer"
          class="navigation__link"
          >Create Customer</a
        >
      </li>

      <li *ngIf="isAuthenticated && isMD" class="navigation__item">
        <a routerLink="/auth/create-user" class="navigation__link">Sign Up</a>
      </li>

      <li *ngIf="isAuthenticated && !isCachier" class="navigation__item">
        <a routerLink="/drugs" class="navigation__link">Drugs</a>
      </li>
      <li
        *ngIf="isAuthenticated && (isMD || isCachier)"
        class="navigation__item"
      >
        <a routerLink="/transactions" class="navigation__link">Trans</a>
      </li>
      <li *ngIf="isAuthenticated && isMD" class="navigation__item">
        <a routerLink="/charts" class="navigation__link">Charts</a>
      </li>
      <li *ngIf="isAuthenticated && isMD" class="navigation__item">
        <a routerLink="/users" class="navigation__link">Users</a>
      </li>
      <li *ngIf="isAuthenticated && isMD" class="navigation__item">
        <a routerLink="/create" class="navigation__link">Create</a>
      </li>

      <li *ngIf="isAuthenticated" class="navigation__item">
        <a (click)="logout()" class="navigation__link">Logout</a>
      </li>
    </ul>
  </nav>
</div>
