<div class="header">
    <div class="nav_title">
        PHARM
    </div>
    <div class="nav_items">
        <li class="navigation__item">
            <a mat-button routerLink="/auth/login" class="navigation__link">Login</a>
          </li>
  
          <li class="navigation__item">
            <a  routerLink="/auth/create-user" class="navigation__link">Sign Up</a>
          </li>

          <li class="navigation__item">
            <a  routerLink="/drugs" class="navigation__link">Drugs</a>
          </li>
    </div>
</div>