.header {
  left: 0;
  right: 0;
  height: 4rem;
  top: 0;
  position: fixed;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  z-index: 3;
  opacity: 1;
  width: 100%;
  background-color: crimson;
}
.nav_title {
  float: left;
  font-size: 2.5rem;
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  margin: 1rem auto;
  left: 1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.navigation__link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.navigation__item {
  // Removes the dots
  list-style: none;
  margin: 1rem;
  color: white;
  float: right;
}

// @media only screen and (min-width: 1000px) {
//   .navigation {
//     visibility: hidden;
//   }
// }

// @media only screen and (max-width: 1000px) {
//   .nav_items {
//     visibility: hidden;
//   }

//   ul {
//     list-style: none;
//     padding: 0;
//     margin: 0;
//   }
//   a {
//     text-decoration: none;
//     color: white;
//   }
//   .spacer {
//     flex: 1 1 auto;
//   }
//   .header {
//     background-color: rgb(73, 51, 172);
//     position: fixed;
//     top: 0rem;
//     margin-bottom: 30rem;
//     z-index: 2;
//   }

//   .navigation__checkbox {
//     display: none;
//   }

//   .navigation__button {
//     background-color: #fff;
//     height: 4.25rem;
//     width: 4.25rem;
//     position: fixed;
//     right: 1.2rem;
//     top: 0.8rem;
//     border-radius: 50%;
//     z-index: 2000;
//     box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
//     text-align: center;
//     cursor: pointer;
//   }

//   .navigation__background {
//     width: 3.5rem;
//     height: 3.5rem;
//     background-image: radial-gradient(#26c8dd, #131fbb);
//     z-index: 1000;
//     position: fixed;
//     border-radius: 50%;
//     right: 1.2rem;
//     top: 1.2rem;
//     transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
//   }

//   .navigation__nav {
//     height: 100vh;
//     position: fixed;
//     top: 0;
//     left: 0;
//     visibility: hidden;
//     opacity: 0;
//     width: 0;
//     transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
//     z-index: 1500;
//   }

//   .navigation__list {
//     position: absolute;
//     text-align: center;
//     width: 60%;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     list-style: none;
//   }

//   .navigation__item {
//     margin: 0.6rem;
//   }

//   .navigation__link:link,
//   .navigation__link:visited {
//     display: inline-block;
//     font-size: 2rem;
//     font-weight: 300;
//     color: #fff;
//     padding: 1rem 2rem;
//     text-decoration: none;
//     text-transform: uppercase;
//     background-image: linear-gradient(
//       120deg,
//       transparent 0%,
//       transparent 50%,
//       #fff 50%
//     );
//     background-size: 230%;
//     transition: all 0.4s;
//   }
//   .navigation__link:link span,
//   .navigation__link:visited span {
//     margin-right: 1rem;
//     display: inline-block;
//   }

//   .navigation__link:hover,
//   .navigation__link:active {
//     background-position: 100%;
//     color: #5593c5;
//     transform: translateX(1rem);
//   }

//   .navigation__checkbox:checked ~ .navigation__background {
//     transform: scale(80);
//   }

//   .navigation__checkbox:checked ~ .navigation__nav {
//     opacity: 1;
//     visibility: visible;
//     width: 100%;
//   }

//   .navigation__icon {
//     position: relative;
//     margin-top: 2.1rem;
//   }
//   .navigation__icon,
//   .navigation__icon::before,
//   .navigation__icon::after {
//     display: inline-block;
//     width: 2.5rem;
//     height: 2px;
//     background-color: #333;
//   }
//   .navigation__icon::before,
//   .navigation__icon::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     transition: all 0.2s;
//   }
//   .navigation__icon::before {
//     top: -0.8rem;
//   }
//   .navigation__icon::after {
//     top: 0.8rem;
//   }

//   .navigation__button:hover .navigation__icon::before {
//     top: -1rem;
//   }

//   .navigation__button:hover .navigation__icon::after {
//     top: 1rem;
//   }

//   .navigation__checkbox:checked + .navigation__button .navigation__icon {
//     background-color: transparent;
//   }

//   .navigation__checkbox:checked
//     + .navigation__button
//     .navigation__icon::before {
//     top: 0;
//     transform: rotate(135deg);
//   }

//   .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
//     top: 0;
//     transform: rotate(-135deg);
//   }
// }
