<section class="login">
  <section class="login_form_card">
    <div class="login_form">
      <h5 class="login_form_head">LOGIN</h5>
      <form class="form" (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <mat-form-field appearance="outline">
          <mat-label>Username:</mat-label>

          <input
            matInput
            required
            name="username"
            username
            placeholder="Username:"
            #usernameInput="ngModel"
            ngModel
            type="text"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password:</mat-label>

          <input
            matInput
            required
            name="password"
            password
            placeholder="Password:"
            #passwordInput="ngModel"
            ngModel
            type="password"
          />
        </mat-form-field>
        <button id="login_btn" class="btn btn--crimson" type="submit">
          LOGIN
        </button>
      </form>
    </div>
  </section>
</section>
