.users__card {
  position: relative;
  top: 5rem;
  width: 25%;
  left: 2rem;
  height: 65%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.5rem 0.7rem 0.1rem blue;

  &__header {
    font-family: "Courier New", Courier, monospace;
    color: crimson;
    font-weight: 400;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem auto;
    padding-top: 1rem;
  }
  &__element {
    width: 85%;
    margin: 0.6rem 12%;
    height: 3rem;
    border-radius: 0.6rem;
    background-color: gray;
    z-index: 3;
    cursor: pointer;

    // &:last-child {
    //   margin-bottom: 2rem;
    // }
    &__username {
      text-align: left;
      color: white;
      text-transform: uppercase;
      margin: 0.8rem 1rem;
      // width: 60%;
      float: left;
      //   left: 10rem;
      font-size: 1rem;
    }
    &__role {
      color: white;
      float: right;
      text-transform: uppercase;
      font-size: 0.75rem;

      // margin: 0.8rem 1rem;
      //   width: 40%;
    }
  }
}

.scrollbar__view {
  position: absolute;
  width: 95%;
  height: 75%;
  border-radius: 5%;
}

@media screen and (max-width: 1000px) {
  .users__card {
    position: absolute;
    top: 5rem;
    height: 85%;
    width: 80%;
    left: 10%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.5rem 0.7rem 0.1rem blue;

    &__element__role {
      letter-spacing: 0.06rem;
      font-size: 0.85rem;
      margin-right: 0.5rem;
    }
  }
}
