<mat-card class="card__edit__password">
  <form
    class="form_edit_password"
    (submit)="editPassword(fForm)"
    #fForm="ngForm"
  >
    <mat-form-field class="input__edit__password" appearance="outline">
      <mat-label>Current password:</mat-label>
      <input
        matInput
        name="currentPassword"
        required
        placeholder="Current Password:"
        #currentPasswordInput="ngModel"
        ngModel
        type="password"
      />
      <mat-error *ngIf="!currentPasswordInput"
        >Please enter a valid Password</mat-error
      >
    </mat-form-field>

    <mat-form-field class="input__edit__password" appearance="outline">
      <mat-label>Password:</mat-label>
      <input
        matInput
        name="password"
        required
        placeholder="Password:"
        #passwordInput="ngModel"
        ngModel
        type="password"
      />
      <mat-error *ngIf="!passwordInput"
        >Please enter a valid Password</mat-error
      >
    </mat-form-field>

    <mat-form-field class="input__edit__password" appearance="outline">
      <mat-label>Confirm Password:</mat-label>
      <input
        matInput
        name="confirmPassword"
        required
        placeholder="Confirm Password:"
        #confirmPasswordInput="ngModel"
        ngModel
        type="password"
      />
      <mat-error *ngIf="!confirmPasswordInput"
        >Please enter a valid Password</mat-error
      >
    </mat-form-field>

    <button type="submit" class="btn btn--crimson">UPDATE PASSWORD</button>
  </form>
</mat-card>
