.card__edit__password {
  margin: 5% 25%;
  height: 80%;
  width: 50%;

  position: relative;
}

.form_edit_password {
  width: 100%;
  // margin: 0 10%;
}
.input__edit__password {
  width: 100%;
  position: relative;
}

.btn__edit__password {
  margin-top: -1rem;
  width: 100%;

  height: 4rem;
}

@media screen and (max-width: 455px) {
  .card__edit__password {
    width: 80%;
    top: 10rem;
    left: 10%;
  }
}
