.create__customer__form {
  width: 60%;
  margin: 0 20%;
  height: 100%;

  position: relative;
}

.header {
  text-align: center;
  color: chocolate;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.mat-form-field {
  width: 100%;
}

.form_container {
  width: 100%;
  position: relative;
}
