<div class="message_section">
  <div class="message_top">
    <div class="message_top_name">{{ reciverData?.username }}</div>
  </div>

  <div class="messageArray" *ngFor="let message of allMessages">
    {{ message.message }}
  </div>
  <div class="message_form">
    <form (submit)="sendMessage(form)" #form="ngForm">
      <mat-form-field>
        <input
          ngModel
          matInput
          name="message"
          appearance="outline"
          placeholder="Type a message"
          type="text"
        />
      </mat-form-field>

      <button type="submit">Arrow</button>
    </form>
  </div>
</div>
