<mat-card class="edit_user">
  <mat-card-header>
    <mat-card-title>kvikv gjh...</mat-card-title>
    <mat-card-subtitle>kuv hgb youhgb ...</mat-card-subtitle>
  </mat-card-header>
  <form>
    <mat-form-field class="input__field" appearance="outline">
      <mat-label>Name:</mat-label>
      <input
        matInput
        ngModel
        required
        name="name"
        placeholder="name"
        type="text"
      />
    </mat-form-field>
  </form>
  <mat-card-content>Amount: </mat-card-content>
  <button class="btn btn--crimson">EDIT USER</button>
</mat-card>
