.card-container {
  width: 80%;
  margin: 8% 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
}

.card {
  color: white;
  height: 15rem;
  color: black;
  padding-bottom: 0%;
  margin: 0;
}
mat-card {
  height: 125%;
  position: relative;
}

.btn {
  position: absolute;
  right: -14%;
  width: 35%;
  font-size: 0.75rem;
  top: 70%;
}

@media only screen and (max-width: 1000px) {
  .card-container {
    margin-top: 15%;
    width: 80%;
    margin-right: 30%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 650px) {
  .card-container {
    margin-top: 15%;
    width: 80%;
    margin-right: 30%;
    grid-template-columns: repeat(1, 1fr);
  }
}
