mat-card-content {
  width: 30%;
  margin-right: 0;
}
.btn {
  width: 20%;
  left: 0;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding: 0.5 0.6;
}

.users_datail_card {
  width: 65%;
  height: auto;
  top: -70%;
  left: 33%;
  z-index: 0;

  position: relative;
  background-color: rgba(255, 253, 251, 1);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);

  &_verticalline {
    position: absolute;
    height: 100%;
    width: 0.3rem;
    z-index: 0;
    padding: 0;
    background-color: brown;
    margin: 0;
    top: 0;
    left: 30%;
  }
  &_log_details {
    right: 0;
    position: absolute;
    height: 100%;
    width: 63%;
    z-index: 3;
    padding: 0;
    margin: 0;
    top: 0;
    &_header {
      text-align: center;
      font-size: 1.7rem;
      font-family: "Courier New", Courier, monospace;
      font-weight: 400;
      margin: 1.3rem 0;
      color: brown;
      letter-spacing: 0.1rem;
    }
    &_login {
      width: 50%;
      height: 100%;
      margin: 0;
      padding: 0;
      left: 0;

      &_header {
        text-align: center;
        font-family: "Courier New", Courier, monospace;
        font-size: 1rem;
        letter-spacing: 0.3rem;
      }

      &_element {
        width: 90%;
        height: auto;
        margin: 0.3rem 0.4rem;
        background-color: gray;
        color: aliceblue;
        text-align: center;
        font-size: 0.67rem;
        border-radius: 0.3rem;
      }
    }

    &_logout {
      width: 50%;
      position: absolute;
      height: 100%;
      // margin-top: -20rem;
      top: 4.3rem;
      padding: 0;
      right: 0;

      &_header {
        text-align: center;
        font-family: "Courier New", Courier, monospace;
        font-size: 1rem;
        letter-spacing: 0.3rem;
      }

      &_element {
        width: 90%;
        height: auto;
        margin: 0.3rem 0.4rem;
        background-color: gray;
        color: aliceblue;
        text-align: center;
        font-size: 0.67rem;
        border-radius: 0.3rem;
      }
    }
  }
}

.scrollbar__view {
  width: 95%;
  height: 70%;
}

@media screen and (max-width: 1000px) {
  .users_datail_card {
    width: 80%;
    height: auto;
    top: 100%;
    left: 10%;
    position: relative;
  }
}

@media screen and (max-width: 800px) {
  .users_datail_card_verticalline {
    position: absolute;
    width: 0.17rem;
    left: 35%;
  }
}

@media screen and (max-width: 680px) {
  .users_datail_card {
    width: 80%;
    height: auto;
    margin-top: 6%;
    left: 10%;
    position: relative;

    &_verticalline {
      visibility: hidden;
    }

    &_log_details {
      position: absolute;
      height: 100%;
      width: 80%;
      margin: 10%;
      top: 100%;
    }
  }

  mat-card-content {
    width: 80%;
    margin-right: 0;
  }
  .btn {
    width: 80%;
    font-size: 1rem;
    text-align: center;
    margin: 0 10%;
  }
}
