.create_password_page {
}

.card__create__password {
  width: 50%;
  top: 10rem;
  left: 25%;
  height: 50%;
  box-shadow: 1rem 2rem 3rem rgba(78, 59, 185, 0.6);
  border-radius: 1rem;

  position: relative;
}

.form_create_password {
  width: 100%;
  // margin: 0 10%;
}
.input__create__password {
  width: 100%;
  position: relative;
}

.btn__create__password {
  margin-top: -1rem;
  width: 100%;

  height: 4rem;
}
