<div class="create_password_page">
  <mat-card class="card__create__password">
    <form
      class="form_create_password"
      (submit)="createPassword(fForm)"
      #fForm="ngForm"
    >
      <mat-form-field class="input__create__password" appearance="outline">
        <mat-label>password:</mat-label>
        <input
          matInput
          name="password"
          required
          placeholder="Password:"
          #passwordInput="ngModel"
          ngModel
          type="password"
        />
        <mat-error *ngIf="!passwordInput"
          >Please enter a valid Password</mat-error
        >
      </mat-form-field>

      <mat-form-field class="input__create__password" appearance="outline">
        <mat-label>passwordConfirm:</mat-label>
        <input
          matInput
          name="passwordConfirm"
          required
          placeholder="Password Confirrm:"
          #passwordConfirmInput="ngModel"
          ngModel
          type="password"
        />
        <mat-error *ngIf="!passwordConfirmInput"
          >Please enter a valid Password</mat-error
        >
      </mat-form-field>

      <button
        class="btn__create__password"
        mat-stroked-button
        type="submit"
        color="primary"
      >
        <strong>CREATE PASSWORD</strong>
      </button>
    </form>
  </mat-card>
</div>
