<div class="message__card">
  <div class="message__card__header">Message</div>

  <div routerLink="/message/userId" class="message__card__element">
    <div class="message__card__element__name">DRUG</div>
  </div>
  <div routerLink="/message/sources" class="message__card__element">
    <div class="message__card__element__name">SOURCES</div>
  </div>

  <div routerLink="/message/userId" class="message__card__element">
    <div class="message__card__element__name">DRUG</div>
  </div>
  <div routerLink="/message/sources" class="message__card__element">
    <div class="message__card__element__name">SOURCES</div>
  </div>

  <div routerLink="/message/userId" class="message__card__element">
    <div class="message__card__element__name">DRUG</div>
  </div>
  <div routerLink="/message/sources" class="message__card__element">
    <div class="message__card__element__name">SOURCES</div>
  </div>
  <br />
</div>

<router-outlet></router-outlet>
