<app-search-comp></app-search-comp>
<div
  *ngFor="let item of transactionQueue; let i = index"
  class="transaction_drug"
>
  <form class="queue__form" (submit)="addToQueue(form)" #form="ngForm">
    <input type="hidden" name="drug" [ngModel]="item" />

    <input
      required
      class="drug_name"
      name="genericName"
      type="text"
      [ngModel]="item.genericName"
    />

    <input
      *ngIf="i === 0"
      required
      class="drug_name"
      name="customer"
      customer
      placeholder="Customer"
      type="text"
      ngModel
    />

    <input
      required
      name="quantity"
      quantity
      placeholder="0"
      type="number"
      ngModel
      min="1"
    />

    <a
      mat-button
      (click)="deleteDrugInTrans(item._id)"
      class="cancle"
      color="warn"
      ><mat-icon>delete</mat-icon></a
    >

    <button type="submit" class="btn btn--white send_queue">Queue</button>
  </form>
</div>
<div
  (click)="createPendingTransaction()"
  class="btn btn--crimson send_trans"
  *ngIf="transactionQueue.length > 0"
>
  SEND TRANS
</div>

<h5>DRUGS</h5>
<h4 class="screen_size_error">PLEASE USE A LAPTOP TO VIEW THIS PAGE✔✔😁</h4>
<igx-grid
  [primaryKey]="'_id'"
  [paging]="true"
  [perPage]="10"
  [allowFiltering]="true"
  [showToolbar]="true"
  [columnPinning]="true"
  [columnHiding]="true"
  toolbarTitle="DRUGS"
  width="'80%'"
  class="drugsGrid"
  #drugsGrid
  id="drugsGrid | async"
  [data]="drugs"
  [autoGenerate]="false"
  [rowEditable]="false"
  [exportExcel]="true"
  exportText="Export"
  exportExcelText="Export to Excel"
  [allowFiltering]="true"
>
  <igx-column
    width="25%"
    field="genericName"
    [sortable]="true"
    header="Generic Name "
  ></igx-column>

  <igx-column
    width="25%"
    field="brandName"
    [sortable]="true"
    header="Brand Name "
  ></igx-column>

  <igx-column
    width="10%"
    field="amount"
    [sortable]="false"
    header="Amount "
    [filterable]="false"
  ></igx-column>

  <igx-column
    width="10%"
    [hasSummary]="true"
    field="sellingPrice"
    [sortable]="true"
    header="Selling Price "
    [filterable]="false"
  ></igx-column>

  <igx-column
    width="10%"
    field="type"
    [sortable]="true"
    header="Type "
    [filterable]="false"
  ></igx-column>

  <igx-column
    width="10%"
    dataType="boolean"
    field="expired"
    [sortable]="false"
    header="Expired "
    [filterable]="false"
  ></igx-column>

  <igx-column
    width="10%"
    dataType="boolean"
    field="available"
    [sortable]="false"
    header="Available "
    [filterable]="false"
  ></igx-column>

  <igx-column field="_id" header=" " [filterable]="false">
    <ng-template igxCell let-cell="cell">
      <span tabindex="0"
        ><button mat-stroked-button (click)="getDrug(cell.value)">
          ADD
        </button></span
      >
    </ng-template>
  </igx-column>
</igx-grid>
<br />
