<br /><br />

<app-search-comp></app-search-comp>
<div
  *ngFor="let item of transactionQueue; let i = index"
  class="transaction_drug"
>
  <form class="queue__form" (submit)="addToQueue(form)" #form="ngForm">
    <input type="hidden" name="drug" [ngModel]="item" />

    <input
      required
      class="drug_name"
      name="genericName"
      type="text"
      [ngModel]="item.genericName"
    />

    <input
      *ngIf="i === 0"
      required
      class="drug_name"
      name="customer"
      customer
      placeholder="Customer"
      type="text"
      ngModel
    />

    <input
      required
      name="quantity"
      quantity
      placeholder="0"
      type="number"
      ngModel
      min="1"
    />

    <a
      mat-button
      (click)="deleteDrugInTrans(item._id)"
      class="cancle"
      color="warn"
      ><mat-icon>delete_forever</mat-icon></a
    >

    <button type="submit" class="btn btn--white send_queue">
      <mat-icon>done_outline</mat-icon>
    </button>
  </form>
</div>
<br />
<div
  (click)="createPendingTransaction()"
  class="btn btn--crimson send_trans"
  *ngIf="transactionQueue.length > 0"
>
  SEND TRANS
</div>
<br /><br />
<h5>DRUGS</h5>
<h4 class="screen_size_error">PLEASE USE A LAPTOP TO VIEW THIS PAGE✔✔😁</h4>
<igx-grid
  [primaryKey]="'_id'"
  [paging]="true"
  [perPage]="10"
  [allowFiltering]="true"
  [showToolbar]="true"
  [columnPinning]="true"
  [columnHiding]="true"
  toolbarTitle="DRUGS"
  width="'80%'"
  class="drugsGrid"
  #drugsGrid
  id="drugsGrid | async"
  [data]="drugs"
  [autoGenerate]="false"
  [rowEditable]="false"
  [exportExcel]="true"
  exportText="Export"
  exportExcelText="Export to Excel"
  [allowFiltering]="true"
>
  <igx-column
    *ngFor="let c of idxColumnData"
    [sortable]="c.sortable"
    [filterable]="c.filterable"
    [hasSummary]="c.hasSummary"
    [field]="c.field"
    [header]="c.header"
    [dataType]="c.dataType"
    [editable]="true"
  ></igx-column>

  <igx-column field="_id" header=" " [filterable]="false">
    <ng-template igxCell let-cell="cell">
      <span tabindex="0"
        ><button mat-stroked-button (click)="getDrug(cell.value)">
          ADD
        </button></span
      >
    </ng-template>
  </igx-column>
  <igx-column field="_id" header=" " [filterable]="false">
    <ng-template igxCell let-cell="cell">
      <span tabindex="0"
        ><button mat-stroked-button routerLink="detail/{{ cell.value }}">
          DETAILS
        </button></span
      >
    </ng-template>
  </igx-column>
</igx-grid>
<br />
