igx-grid {
  margin: 1rem 3rem 9rem 3rem !important;
  // background-color: blue;
  border-radius: 0.5%;
  // color: white !important;
  font-size: 0.4rem !important;
  text-align: center;
}

h5 {
  text-align: center;
  margin-top: 3rem;
}
