<div class="card-container">
  <div *ngFor="let order of myOrders" class="card">
    <mat-card>
      <mat-card-header>
        <mat-card-title
          ><strong>Drug Name: {{ order.drug?.genericName }}</strong>
        </mat-card-title>
        <mat-card-subtitle
          >Brand Name: {{ order.drug?.brandName }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>Status: {{ order.paid }}</mat-card-content>
      <mat-card-content>Price: {{ order.price }} </mat-card-content>
    </mat-card>
  </div>
</div>
