<br /><br /><br />
<mat-tab-group mat-align-tabs="center" class="mat-tab-group" color="warn">
  <mat-tab>
    <ng-template mat-tab-label> Orders </ng-template>

    <app-orders></app-orders
  ></mat-tab>
  <mat-tab>
    <ng-template mat-tab-label> Ordered Drugs </ng-template>

    <app-drug-order></app-drug-order
  ></mat-tab>
  <mat-tab>
    <ng-template mat-tab-label> Edit Me </ng-template>

    <app-edit-user></app-edit-user>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label> Change Password </ng-template>
    <app-change-password></app-change-password>
  </mat-tab>
</mat-tab-group>

<!-- <br /><br /> -->
<!-- <router-outlet></router-outlet> -->
