<br /><br />

<h5>VENDORS</h5>
<h4 class="screen_size_error">PLEASE USE A LAPTOP TO VIEW THIS PAGE✔✔😁</h4>

<igx-grid
  [primaryKey]="'_id'"
  [paging]="true"
  [perPage]="10"
  [allowFiltering]="true"
  [showToolbar]="true"
  [columnPinning]="true"
  [columnHiding]="true"
  toolbarTitle="VENDORS"
  width="'80%'"
  class="sourcesGrid"
  #sourcesGrid
  id="sourcesGrid | async"
  [data]="sources"
  [autoGenerate]="false"
  [rowEditable]="false"
  [exportExcel]="true"
  exportText="Export"
  exportExcelText="Export to Excel"
  [allowFiltering]="true"
>
  <!-- [hasSummary]="true" -->

  <igx-column
    *ngFor="let c of idxColumnData"
    [sortable]="c.sortable"
    [filterable]="c.filterable"
    [hasSummary]="c.hasSummary"
    [field]="c.field"
    [header]="c.header"
    [dataType]="c.dataType"
    [editable]="true"
  ></igx-column>
</igx-grid>
<br />
