.welcome_page {
  background-image: linear-gradient(
      100deg,
      rgba(white, 0.95) 0%,
      rgba(white, 5) 50%,
      rgba(crimson, 0.9) 50%,
      rgba(green, 0.8) 75%,
      transparent
    ),
    url(./pexels-mart-production-7230413.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 0;
  position: fixed;
  opacity: 2;
}
.landing_info {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: white;

  background-image: linear-gradient(
    100deg,
    rgba(black, 0.95) 0%,
    rgba(black, 5) 50%,
    rgba(crimson, 0.9) 50%,
    rgba(greenyellow, 0.8) 75%,
    transparent
  );

  background-color: black;
  height: 100%;
  width: 53.5%;
  opacity: 0.9;
  clip-path: polygon(0 0, 100% 0, 84% 100%, 0 100%);
}
.welcome {
  margin: 2rem 4rem;
  text-align: center;
}
.welcome_header {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
}
.p_text {
  margin: 0.1rem 0;
  margin: 0.8rem 0;
  font-size: 2rem;
}

.gilead_text {
  color: wheat;
  text-align: left;
  padding-left: 4rem;
  font-size: 2rem;
  font-weight: 400;
  z-index: 4;
  letter-spacing: 0.6rem;
}
.username {
  color: greenyellow;
  font-size: 4rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  margin: 0;
}

@media only screen and (max-width: 1000px) {
  .landing_info {
    position: absolute;
    top: 4rem;
    left: 0;
    color: white;

    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    z-index: 44;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .welcome_page {
    background-image: none;
    z-index: 0;
    position: fixed;
    opacity: 2;
  }

  // .username {
  //   font-size: 3rem;
  // }

  .gilead_text {
    color: wheat;
    text-align: center;
    padding-left: 1rem;
    margin-left: -2rem;
    font-size: 1.4rem;
    font-weight: 300;
    z-index: 4;
    letter-spacing: 0.3rem;
  }
  .welcome_header {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 380px) {
  .gilead_text {
    color: wheat;
    text-align: center;
    padding-left: 1rem;
    margin-left: -3rem;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
  }

  .username {
    font-size: 2rem;
    margin: 0;
    padding: 0;
  }

  .welcome_header {
    font-size: 2.4rem;
  }
}
