<div class="welcome_page">
    <div class="landing_info">
        <br>
        <div class="welcome">
            <h1 class="welcome_header">WELCOME</h1>
        <p class="p_text">
            Welcome To 
        </p>
       
        <h6 class="gilead_text">
            GILEAD <br> <br> PHARMACEUTICALS
        </h6>

        <br>
        <button routerLink="/auth/login" class="btn btn--crimson">
            <a  routerLink="/auth/login" class="navigation__link">LOGIN</a>
        </button>
        </div>

    </div>

</div>