.card-container {
  max-width: 80%;
  margin: 5% 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12.5%;
  cursor: pointer;
}

.card {
  color: white;
}

mat-card {
  background-color: rgba(219, 37, 51, 1);
  color: white;
  transition: all 0.2s;
  height: 100%;
}
mat-card-title {
  text-align: center;
  text-transform: uppercase;
}
mat-card:hover {
  background-color: white;
  color: rgba(219, 37, 51, 1);
  transform: scale(1.01);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 1000px) {
  .card-container {
    margin-top: 15%;
    width: 50%;
    margin-right: 30%;
    grid-template-columns: repeat(1, 1fr);
  }
}
