<div class="card-container">
  <div
    class="card"
    routerLink="/{{ item.link }}"
    *ngFor="let item of dashboardData"
  >
    <mat-card
      *ngIf="
        userRole == 'MD' ||
        (item.link == 'transactions' && userRole == 'cachier') ||
        (item.link == 'drugs' && userRole == 'pharmacist')
      "
    >
      <mat-card-header>
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-subtitle>{{ item.subtitle }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>{{ item.description }} </mat-card-content>
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >home</mat-icon
      >
    </mat-card>
  </div>
</div>
