.example-card {
  position: relative;
  margin-top: 5%;
  margin-left: 7%;
  width: 20%;
  height: 25%;
  background-color: rgba(219, 37, 51, 1);
  color: white;
}
mat-card-subtitle {
  color: white;
}
