.card-container {
  max-width: 80%;
  margin: 8% 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
  cursor: pointer;
}

.card {
  color: white;
}

mat-card {
  // background-color: rgba(219, 37, 51, 1);
  background-image: linear-gradient(
    to right top,
    rgba(219, 37, 51, 1),
    #0f19a3
  );

  // background-image: radial-gradient(#fff, rgba(219, 37, 51, 1));

  color: white;
  transition: all 0.3s;
  border-radius: 1rem;
  height: 100%;
}
mat-card-title {
  text-align: center;
  text-transform: uppercase;
}
mat-card:hover {
  // background-color: white;
  // color: rgba(219, 37, 51, 1);
  color: #000;
  text-align: center;
  transform: scale(1.01);
  transform: skewY(-7deg);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);

  background-image: linear-gradient(to left bottom, rgba(219, 37, 51, 1), #fff);
}
@media only screen and (max-width: 1000px) {
  .card-container {
    margin-top: 15%;
    width: 80%;
    margin-right: 30%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 650px) {
  .card-container {
    margin-top: 20%;
    grid-template-columns: repeat(1, 1fr);
  }
}
