$color-crimson: crimson;
$color-white: #fff;

// CSS Reset, comment out if not required or using a different module
@import "~minireset.css/minireset";
/* You can add global styles to this file, and also import other style files */

@import "app/sass/buttons";
@import "app/sass/igxGrid";
@import "app/sass/grid";

@import "~igniteui-angular/lib/core/styles/themes/index";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

/* autoprefixer grid: on */

@include igx-core();
@include igx-theme($default-palette);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 1000px) {
  igx-column {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  igx-grid {
    visibility: hidden;
  }
  igx-column {
    visibility: hidden;
  }
}
