mat-form-field {
  width: 35%;
  margin: 3rem 1rem 0 10rem;
  height: 3rem;
}

form {
  margin-top: 2.6rem;
  margin-bottom: 0%;
}
.btn {
  width: 20%;
  margin: auto;
}
.btn:hover {
  transform: translateY(0);
  box-shadow: 0;
}
