mat-form-field {
  width: 35%;
  margin: 0 1rem 0 20%;
  height: 3rem;
}

form {
  margin-top: 2.6rem;
  margin-bottom: 0%;
}
.btn {
  width: 15%;
  margin: auto;
}
.btn:hover {
  transform: translateY(0);
  box-shadow: 0;
}

@media screen and (max-width: 680px) {
  .btn,
  mat-form-field {
    width: 70%;

    margin: 5% 15%;
  }
}
