<br>

<h5>TRANSACTIONS</h5>
<h4 class="screen_size_error">PLEASE USE A LAPTOP TO VIEW THIS PAGE✔✔😁</h4>

<igx-grid 

*ngIf="transactions.length > 0"
[primaryKey]="'_id'"
[paging]="true"
[perPage]="10"
[allowFiltering]="true"
[showToolbar]="true"

[columnPinning]="true"
[columnHiding]="true"

toolbarTitle="TRANSACTIONS"
width="'80%'"
class="transactionsGrid"
#transactionsGrid 

id="transactionsGrid | async" 
[data]="transactions" 
[autoGenerate]="false" 
[rowEditable]="false"
[exportExcel]="true"
exportText="Export"
exportExcelText="Export to Excel"
[allowFiltering]="true">



<igx-column  width="20%" field="customerName" [sortable]="true" header="Customer Name "></igx-column>

<igx-column  width="15%" field="transactionDate" dataType="date" [sortable]="true" header="Transaction Date"></igx-column>

<igx-column  width="15%" field="creator.name" [sortable]="false" header="Creator "  [filterable]="false"></igx-column>

<igx-column  width="15%" dataType="string" field="approver.name" [sortable]="false" header="Approver "  [filterable]="false"></igx-column>

<igx-column  width="15%" field="totalprice" [sortable]="true" header="Total Price "  [filterable]="false"></igx-column>

<igx-column  width="10%" dataType="boolean" field="approved" [sortable]="false" header="Approved "  [filterable]="false"></igx-column>


<igx-column field="_id" header=" " [filterable]="false">
    <ng-template igxCell let-cell="cell">
      <span tabindex="0"
        ><button mat-stroked-button (click)="approveTrans(cell.value)">
          APPROVE
        </button></span
      >
    </ng-template>
  </igx-column>



</igx-grid>
