<br /><br />

<h5>TRANSACTIONS</h5>
<h4 class="screen_size_error">PLEASE USE A LAPTOP TO VIEW THIS PAGE✔✔😁</h4>

<igx-grid
  *ngIf="transactions.length > 0"
  [primaryKey]="'_id'"
  [paging]="true"
  [perPage]="10"
  [allowFiltering]="true"
  [showToolbar]="true"
  [columnPinning]="true"
  [columnHiding]="true"
  toolbarTitle="TRANSACTIONS"
  width="'80%'"
  class="transactionsGrid"
  #transactionsGrid
  id="transactionsGrid | async"
  [data]="transactions"
  [autoGenerate]="false"
  [rowEditable]="false"
  [exportExcel]="true"
  exportText="Export"
  exportExcelText="Export to Excel"
  [allowFiltering]="true"
>
  <igx-column
    *ngFor="let c of idxColumnData"
    [sortable]="c.sortable"
    [filterable]="c.filterable"
    [hasSummary]="c.hasSummary"
    [field]="c.field"
    [header]="c.header"
    [dataType]="c.dataType"
    [editable]="true"
  ></igx-column>

  <igx-column field="_id" header=" " [filterable]="false">
    <ng-template igxCell let-cell="cell">
      <span tabindex="0"
        ><button mat-stroked-button (click)="approveTrans(cell.value)">
          APPROVE
        </button></span
      >
    </ng-template>
  </igx-column>

  <igx-column field="_id" header=" " [filterable]="false">
    <ng-template igxCell let-cell="cell">
      <span tabindex="0"
        ><button mat-stroked-button routerLink="detail/{{ cell.value }}">
          DETAILS
        </button></span
      >
    </ng-template>
  </igx-column>
</igx-grid>
