<br /><br /><br />
<mat-tab-group mat-align-tabs="center" class="mat-tab-group" color="warn">
  <!-- headerPosition="below" -->
  <mat-tab>
    <ng-template mat-tab-label> All Orders </ng-template>
    <app-all-orders></app-all-orders>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label> Accepted Orders </ng-template>
    <app-accepted-orders></app-accepted-orders>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Accident Orders </ng-template>
    <app-accident-orders></app-accident-orders>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label> Delivered Orders </ng-template>
    <app-delivered-orders></app-delivered-orders>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label> Queried Orders </ng-template>
    <app-queried-orders></app-queried-orders>
  </mat-tab>
</mat-tab-group>
