<br /><br /><br />
<!-- <app-search-comp [searchData]="'orders'"></app-search-comp> -->

<!-- <mat-tab-group mat-align-tabs="center" class="mat-tab-group" color="warn">
  <mat-tab>
    <ng-template mat-tab-label> Orders </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label> Ordered Drugs </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label> Edit Me </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label> Change Password </ng-template>
  </mat-tab>
</mat-tab-group> -->
